# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/deno-tests

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
codealike.json
/dist

# VS Code
.vscode

# deepwork state
.slim/

## local planning files
# Ignore all `.plan.md` files in the plans directory and its subdirectories -- these are local planning files that should not be committed to the repository.
# `*.plan.md` files should be used for tracking progress on tasks and projects and are specific to the local development environment.
# Long term plans can go in `*.md` files, which are not ignored and can be committed to the repository for sharing with others.
/plans/**/*.plan.md
